:root {
  --body-font: "Roboto", "sans-serif";
  --body-text-color: #757f95;
  --theme-bg-light: #f5f7fa;
  --theme-color: #03a297;
  --bs-success: #03a297;

  --box-shadow: 0 0 40px 5px rgb(0 0 0/5%);
  --box-shadow2: 0 0 15px rgba(0, 0, 0, 0.17);
  --border-info-color: rgba(0, 0, 0, 0.08);

  --color-dark: #023350;
  --color-white: #ffffff;
  --color-red: #fd6a6a;

  --transition: all 0.5s ease-in-out;
  --transition2: all 0.3s ease-in-out;
}
